.page {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    gap: 20px;
}

.top-row {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    height: 80px;
    position: sticky;
    top: 0;
}

.top-row > a {
    font-size: 1.1em;
    text-decoration: none;
}

.search-box {
    background-color: var(--very-light);
    height: 40px;
    border-radius: 8px;
    flex: 0 1 50%;
    display: flex;
}

.search-box * {
    height: 100%;
}

.search-box > input {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    flex: 1;
}

.search-box > input:focus {
    outline: 1px solid var(--light-base);
}

.search-box > button {
    padding: 5px;
}

.date-link > p {
    margin: 2px 0;
}

.date-day {
    font-weight: 500;
}

.date-long {
    color: var(--light-base);
}

.sidebar {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    grid-template-rows: 20px 60px 60px 30px 1fr;
    position: fixed;
    width: 250px;
}

.sidebar-background {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    background-color: var(--dark-base);
    border-top-right-radius: 15px;
}

.profile-picture {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 120px;
    border-radius: 50%;
}

.profile-picture > img {
    border-radius: 50%;
}

.username {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    color: var(--light);
    text-decoration: none;
    margin: 0 auto;
}

.username:hover {
    text-decoration: underline;
}

.nav-menu {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

/* Phone screens */
@media (max-width: 640.98px) {

}

/* Large screens */
@media (min-width: 641px) {

}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
