@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="#" class="logo-link">
                <h1>
                    <span style="color: var(--light-base)">Daily</span><span style="color: var(--dark-base)">Planner</span>
                </h1>
            </a>
            <form class="top-row-search">
                <input type="text" placeholder="Search tasks..." />
                <button><img src="images/search-glass.webp" alt="search" /></button>
            </form>
            <div class="todays-date">
                <p style="font-weight: 500">@DateTime.Now.ToString("dddd")</p>
                <p style="color: var(--light-base)" >@DateTime.Now.ToString("MMMM d, yyyy")</p>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>