@page "/"
@using DailyPlanner
@using DailyPlanner.Services
@using DailyPlanner.Models
@inject TaskService TaskService
@inject TodoState TodoState
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Welcome back</h1>

<div class="widget-grid">
    <div class="todo-widget-container">
        <TodoWidget />
    </div>
    <div class="progress-widget-container">
        <ProgressWidget />
    </div>
    <div class="week-widget-container">

    </div>
</div>

@code {
    private string entraUserId = "demo-user-id";

    protected override async Task OnInitializedAsync()
    {
        // If the state is empty load tasks from DB
        if (TodoState.Todos.Count == 0)
        {
            TodoState.Todos = await TaskService.GetTasks(entraUserId);
            // Notify widgets the data has arrived
            TodoState.NotifyChange();
        }
    }
}