.container {
   display: flex;
   flex-direction: row;
   width: fit-content;
   box-sizing: border-box;
   margin: 40px auto;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
   padding: 0;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

.container > div {
   width: 100px;
   height: 200px;
}

.first {
   border-top-left-radius: 50px;
}

.last {
   border-bottom-right-radius: 50px;
}

img {
   max-width: 90%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   margin-bottom: 20px;
}

h2 {
   margin: 40px auto;
}