.container {
   display: grid;
   grid-auto-flow: column;
   height: 200px;
   width: 500px;
   margin: 80px auto;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
   padding: 0;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

.first {
   border-top-left-radius: 50px;
}

.last {
   border-bottom-right-radius: 50px;
}
