@inject TodoState TodoState
@implements IDisposable
@rendermode InteractiveServer

<div class="title-container">
    <h3>Progress</h3>
</div>

<div class="progress-bars">
    <p>Completed: @TodoState.PercentDone%</p>
    <p>Not Started: @TodoState.PercentRemaining%</p>
</div>
@code {
    protected override void OnInitialized()
    {
        TodoState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        TodoState.OnChange -= StateHasChanged;
    }
}