@page "/siteplan"

<PageTitle>SitePlan</PageTitle>

<h1>Site Plan</h1>

<h2>Palette</h2>

<div class="container">
   <div style="background-color: #010A26" class="first"></div>
   <div style="background-color: #406973"></div>
   <div style="background-color: #163C40"></div>
   <div style="background-color: #F0F2F1"></div>
   <div style="background-color: #BF967E" class="last"></div>
</div>

<h2>Landing (Home) Page</h2>

<img src="images/layout/landing-layout.svg" alt="Landing page layout" />

<h2>Calendar Page</h2>

<img src="images/layout/calendar-layout.svg" alt="Calendar page layout" />

<img src="images/layout/calendar-layout-w-todo.svg" alt="Calendar page layout with todo unfolded" />

<h2>Example Elements</h2>

<h3>Task Element:</h3>

<TaskItem />

<!-- Other palettes for consideration
<div class="container">
   <div style="background-color: #1A2A40" class="first"></div>
   <div style="background-color: #253C59"></div>
   <div style="background-color: #42628C"></div>
   <div style="background-color: #F2F2F2"></div>
   <div style="background-color: #0D0D0D" class="last"></div>
</div>

<div class="container">
   <div style="background-color: #1C2611" class="first"></div>
   <div style="background-color: #31401B"></div>
   <div style="background-color: #8EA66A"></div>
   <div style="background-color: #A9BF78"></div>
   <div style="background-color: #0D0D0D" class="last"></div>
</div>

<div class="container">
   <div style="background-color: #778C58" class="first"></div>
   <div style="background-color: #95A658"></div>
   <div style="background-color: #BFBFBD"></div>
   <div style="background-color: #8C5A2E"></div>
   <div style="background-color: #0D0D0D" class="last"></div>
</div>

<div class="container">
   <div style="background-color: #A6460F" class="first"></div>
   <div style="background-color: #F24405"></div>
   <div style="background-color: #401202"></div>
   <div style="background-color: #732407"></div>
   <div style="background-color: #0D0D0D" class="last"></div>
</div>
-->