@page "/siteplan"

<PageTitle>SitePlan</PageTitle>

<h1>Site Plan</h1>

<h2>Palette</h2>

<div class="container">
   <div style="background-color: var(--dark-base)" class="first"></div>
   <div style="background-color: var(--light-base)"></div>
   <div style="background-color: var(--light)"></div>
   <div style="background-color: var(--very-light)"></div>
   <div style="background-color: var(--accent)" class="last"></div>
</div>

<h2>Landing (Home) Page</h2>

<img src="images/layout/landing-layout.svg" alt="Landing page layout" />

<h2>Calendar Page</h2>

<img src="images/layout/calendar-layout.svg" alt="Calendar page layout" />

<img src="images/layout/calendar-layout-w-todo.svg" alt="Calendar page layout with todo unfolded" />

<h2>Example Elements</h2>

<h3>Task Element:</h3>

<TaskItemComponent title="[Task Title Here]" />
