<link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
<div class="container">
    <div class="title-bar">
        <input type="checkbox" id="checkbox" />
        <label for="checkbox">Task Title Here</label>
    </div>
    <div class="task-body">
        <p>
            This is where the body of the text would go.
        </p>
        <img src="https://picsum.photos/100/100" alt="Random photo" />
    </div>
</div>