* {
    color: var(--dark);
    background-color: var(--light);
    font-family: 'ABeeZee', Arial;
    padding: 0;
}

.container {
    --dark: #010a26;
    --light-base: #406973;
    --dark-base: #163c40;
    --light: #f0f2f1;
    --accent: #bf967e;

    display: flex;
    flex-direction: column; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 650px;
}

img {
    border-radius: 10px;
}

.task-details {
    display: flex;
    flex-direction: row;
}

.task-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.task-content > h1 {
    font-size: 1.2em;
    font-weight: 700;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}
