* {
    color: var(--dark);
    background-color: var(--light);
}

.container {
    --dark: #010a26;
    --light-base: #406973;
    --dark-base: #163c40;
    --light: #f0f2f1;
    --accent: #bf967e

    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.container > div {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.task-body {
    justify-content: space-between;
}

.title-bar {
    border-bottom: 1px solid var(--light-base);
}

.title-bar > label {
    font-size: 1.5em;
    margin: 0 15px;
    font-weight: 500;
}