* {
    background-color: var(--light);
    padding: 0;
    font-family: var(--task-font);
}

.container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 650px;
    margin: 25px auto;
}

img {
    border-radius: 10px;
}

.task-details {
    display: flex;
    flex-direction: row;
}

.task-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.task-content > input {
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

.task-content > input:hover,
.task-content > input:focus {
    /* border: 1px solid var(--dark-base); */
    background-color: var(--very-light);
}

.title {
    font-size: 1.2em;
    font-weight: 700;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}
