<div class="container">
    <div class="task-details">
        <div class="check-box">
            <input type="checkbox" id="checkbox" checked="@IsDone" @onchange="OnDoneChange" />
            <label for="checkbox"></label>
        </div>
        <div class="task-content">
            <input @bind="_title" class="title" placeholder="Title (required)" />
            <input @bind="_desc" class="description" placeholder="+ Add Description" />
        </div>
        @* <img src="https://picsum.photos/100/100" alt="Random photo" /> *@
    </div>
    <div class="button-container">
        <button class="btn btn-primary" @onclick="OnDeleteClick">Delete</button>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    
    [Parameter]
    public EventCallback<string> TitleChanged { get; set; }

    private string _title {
        get => Title;
        set {
            if (value == null || value == "") {
                value = Title;
            }
            else if (Title != value) {
                Title = value;
                TitleChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public string Desc { get; set; } = string.Empty;
    
    [Parameter]
    public EventCallback<string> DescChanged { get; set; }

    private string _desc {
        get => Desc;
        set {
            if (Desc != value) {
                Desc = value;
                DescChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public bool IsDone { get; set; }

    [Parameter]
    public EventCallback<bool> IsDoneChanged { get; set; }

    private async Task OnDoneChange(ChangeEventArgs e) {
        IsDone = (bool)e.Value!;
        await IsDoneChanged.InvokeAsync(IsDone);
    }
    
    [Parameter]
    public EventCallback OnDelete { get; set; }

    private async Task OnDeleteClick() {
        await OnDelete.InvokeAsync();        
    }

}
