.container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    border-radius: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    margin: 25px auto;
    background-color: var(--light);
}

img {
    border-radius: 10px;
}

.task-details {
    display: flex;
    flex-direction: row;
}

.task-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.task-content > input {
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: var(--light);
}

.task-content > input:hover,
.task-content > input:focus {
    background-color: var(--very-light);
}

.task-content > input:focus {
    outline: 1px solid var(--light-base);
}

.title {
    font-size: 1.2em;
    font-weight: 700;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}
