@using DailyPlanner
@rendermode InteractiveServer

<div class="title-container">
    <h3>To-Do</h3>
    <a href="todo" class="btn">+ New To-Do</a>
</div>

<p>Nothing to show. You must be all caught up!</p>
