@inject TodoState TodoState
@rendermode InteractiveServer

<div class="title-container">
    <h3>To-Do</h3>
    <a href="todo" class="btn">+ New To-Do</a>
</div>

@if (TodoState.Todos.Count == 0) {
    <p>Nothing to show. You must be all caught up!</p>
}
else {
    foreach(var todo in TodoState.Todos) {
        <TaskItem @bind-Title="@todo.Title" @bind-IsDone="@todo.IsDone" OnDelete="() => TodoState.RemoveTodo(todo)" />
    }
}