@using DailyPlanner.Services
@inject TodoState TodoState
@inject TaskService TaskService
@rendermode InteractiveServer

<div class="title-container">
    <h3>To-Do</h3>
    <a href="todo" class="btn">+ New To-Do</a>
</div>

@if (TodoState.Todos.Count == 0)
{
    <p>Nothing to show. You must be all caught up!</p>
}
else
{
    <div class="todo-list">
        @foreach (var todo in TodoState.Todos)
        {
            <TaskItemComponent Id="@todo.Id" @bind-Title="@todo.Title" @bind-IsDone="@todo.IsCompleted" OnDelete="DeleteTodo"
                OnToggle="ToggleTodo" />
        }
    </div>
}

@code {
    private string entraUserId = "demo-user-id"; // same placeholder

    private async Task ToggleTodo(int taskId)
    {
        await TaskService.ToggleComplete(taskId);
        TodoState.Todos = await TaskService.GetTasks(entraUserId);
        TodoState.NotifyChange();
    }

    private async Task DeleteTodo(int taskId)
    {
        await TaskService.DeleteTask(taskId);
        TodoState.Todos = await TaskService.GetTasks(entraUserId);
        TodoState.NotifyChange();
    }
}