@page "/todo"
@inject TodoState TodoState
@rendermode InteractiveServer

<h3>To-Do (@TodoState.GetUnfinished())</h3>

<div class="new-todo-container">
    <input @bind="newTodo" placeholder="Enter a new task..." />
    <div class="button-container">
        <div class="options"></div>
        <button @onclick="AddTodo" class="btn btn-primary submit-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" stroke="white" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>
        </button>
    </div>
</div>

@foreach (var todo in TodoState.Todos)
{
    <TaskItem @bind-Title="@todo.Title" @bind-IsDone="@todo.IsDone" OnDelete="() => TodoState.RemoveTodo(todo)" />
}

@code {

    public string newTodo = "";

    public void AddTodo() {
        TodoState.AddTodo(new TodoItem { Title = newTodo });
        newTodo = string.Empty;
    }

    protected override void OnInitialized()
    {
        TodoState.OnChange += StateHasChanged;
    }
}